@import '@servicenow/sass-kit/host';

.text-center {
    text-align: center;
}

.table-container {
    width: 50%;
}

table {
    margin: 10px auto;
    // background-color: rgb(241, 255, 239);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(63, 63, 63);
    padding: 10px;
}

tr:hover {
    background-color: rgb(231, 245, 229);
}

th {
    padding-right: 1rem;
    text-align: right;
}